.vertical-menu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-toggle-button {
  background-color: #1a202c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
}

.menu-toggle-button:hover {
  background-color: #343a40;
}

.vertical-menu {
  position: absolute;
  top: 50px; /* Ajusta la posición para que esté alineado mejor */
  left: 0;
  background-color: #1a202ca3;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 260px;
}

.vertical-menu .navItem {
  margin: 0;
  padding: 10px 20px;
}

.vertical-menu .navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.vertical-menu .navLink:hover {
  background-color: #199fdd;
  color: black;
  border-radius: 5px;
  padding-left: 25px;
}
